<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <div class="product-container">
      <div class="product-image">
        <!-- v-bind can also be used with ":" mainly binding the image dynamically -->
        <!-- :alt ,:href , :class ,:style, :disabled -->
        <img v-bind:src="image"></img>
      </div>
      <h1>{{product}}</h1>
      <p>{{description}}</p>
      <a :href="url">Find link to colors</a>
      <!-- conditional rendering   -->
      <p v-show="true">Socks are available</p>
      <p v-if="onSale > 50 ">In stock</p>
      <p v-else>Not in stock</p>
      <!-- list rendering for an array of objects   -->
      <ul v-for="detail in details">{{ detail }}</ul>
      <!-- list rendering for an objects inside an array   -->
      <ul v-for="item in items"> ID:{{item.id}}, Color:{{ item.color}}</ul>
      <ul>
        sizes available are
        <li v-for="size in sizes"> {{size}}</li>
      </ul>
    </div>
  </div>


  <!-- Import Js -->
  <script src="./main.js"></script>
</body>
<script>
  // mounted is the lifecyckle hook mainlly used when your component is added to the DOM.
  // mainly used to send an HTTP request to fetch data that the component will render.
  const mountedApp = app.mount("#app");
</script>

</html>